[user]
	name = lttviet
	email = lttviet@gmail.com
[color]
	ui = true
	status = auto
	branch = auto
[core]
	editor = nvim
	excludesfile = /home/lttviet/.gitignore_global
[credential]
	helper = cache --timeout=3600
[push]
	default = simple
