apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: PersistentVolume
      name: sillytavern-config
    patch: |-
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        name: sillytavern-config
      spec:
        nfs:
          server: 192.168.1.40
  - target:
      kind: PersistentVolume
      name: sillytavern-data
    patch: |-
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        name: sillytavern-data
      spec:
        nfs:
          server: 192.168.1.40

images:
  - name: ghcr.io/sillytavern/sillytavern:1.12.12
    newTag: 1.15.0
