apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: PersistentVolume
      name: navidrome
    patch: |-
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        name: navidrome
      spec:
        nfs:
          server: 192.168.1.40
  - target:
      kind: PersistentVolume
      name: music
    patch: |-
      apiVersion: v1
      kind: PersistentVolume
      metadata:
        name: music
      spec:
        nfs:
          server: 192.168.1.40

images:
  - name: deluan/navidrome:0.54.5
    newTag: 0.60.3
